<div class="wrapper">
  <aside class="marketing">
    <div class="testimonials">
      <h2><span>"</span> +5k de clientes satisfeitos</h2>

      <blockquote>
        "Meu Rh 360 é incrível! Ele é a solução perfeita para gerenciamento de
        pessoas e processos de contratação. Ele facilita a busca de novos
        talentos e ajuda a manter a equipe organizada e bem gerenciada. Além
        disso, o suporte é excepcional e sempre disposto a ajudar."
      </blockquote>

      <p>
        <strong>JG</strong> <br />
        <span>Empresa Lorem Lorem</span>
      </p>
    </div>
  </aside>
  <main class="login">
    <form
      class="login-form needs-validation"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <img class="logo" src="/assets/images/logo.svg" alt="" />
      <h1>Crie uma conta profissional</h1>
      <p>Preencha seus dados para ter acesso</p>

      <div class="mb-3">
        <label for="name" class="form-label"
          >Nome completo <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Digite seu nome completo"
          required
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label"
          >E-mail <span class="text-danger">*</span></label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Digite seu e-mail cadastrado"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label"
          >Senha <span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Digite uma senha forte"
          required
        />
      </div>

      <div class="mb-3">
        <label for="repeat-password" class="form-label"
          >Confirmação de senha <span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="repeat-password"
          formControlName="repeat_password"
          placeholder="Repita a senha"
          required
        />
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="terms"
          formControlName="terms"
          required
        />
        <label class="form-check-label" for="terms">
          Eu aceito os <a href="#">Termos de Uso & Privacidade</a> e o
          <a href="#">Contrato de Serviço</a> <span class="text-danger">*</span>
        </label>
      </div>

      <div class="d-grid gap-2">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Criar conta
        </button>
      </div>
    </form>
  </main>
</div>
