<div class="pt-4 pb-4">
  <div class="container-fluid p-4">
    <div class="d-grid gap-2 d-md-flex">
      <button class="btn btn-outline-primary me-md-2" type="button">
        Editar empresa
        <i class="bi bi-pencil-square"></i>
      </button>
      <button class="btn btn-outline-primary me-md-2" type="button">
        Gestão de filiais
        <i class="bi bi-diagram-2-fill"></i>
      </button>
      <button class="btn btn-outline-primary me-md-2" type="button">
        Faixas salariais
        <i class="bi bi-credit-card"></i>
      </button>
      <button class="btn btn-outline-primary" type="button">
        Job Level
        <i class="bi bi-person-video3"></i>
      </button>
    </div>
  </div>

  <div class="container-fluid p-4">
    <form class="row g-3 needs-validation" novalidate>
      <div class="row g-3">
        <div class="col-md-2">
          <label for="tipo_empresa" class="form-label fw-bold text-primary"
            >Tipo de empresa</label
          >
          <input
            type="text"
            class="form-control"
            id="tipo_empresa"
            value="Tecnologia"
            disabled
          />
        </div>
      </div>

      <div class="col-md-8">
        <label for="nome_empresa" class="form-label fw-bold text-primary"
          >Nome da empresa</label
        >
        <input
          type="text"
          class="form-control"
          id="nome_empresa"
          value="Meu RH 360"
          disabled
        />
      </div>
      <div class="col-md-4">
        <label for="cnpj" class="form-label fw-bold text-primary"
          >CNPJ da empresa</label
        >
        <input
          type="text"
          class="form-control"
          id="cnpj"
          value="11.394.715/0001-92"
          disabled
        />
      </div>

      <div class="col-md-1">
        <label for="cep" class="form-label fw-bold text-primary">CEP</label>
        <input
          type="text"
          class="form-control"
          id="cep"
          value="33333-333"
          disabled
        />
      </div>
      <div class="col-md-4">
        <label for="cep" class="form-label fw-bold text-primary"
          >Endereço</label
        >
        <input
          type="text"
          class="form-control"
          id="cep"
          value="Rua exemplo, 444"
          disabled
        />
      </div>
      <div class="col-md-2">
        <label for="bairro" class="form-label fw-bold text-primary"
          >Bairro</label
        >
        <input
          type="text"
          class="form-control"
          id="bairro"
          value="Belzonte"
          disabled
        />
      </div>
      <div class="col-md-2">
        <label for="complemento" class="form-label fw-bold text-primary"
          >Complemento</label
        >
        <input
          type="text"
          class="form-control"
          id="complemento"
          value="Loja 35"
          disabled
        />
      </div>
      <div class="col-md-1">
        <label for="uf" class="form-label fw-bold text-primary">UF</label>
        <select class="form-select" id="uf" disabled>
          <option selected disabled value="">MG</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="cidade" class="form-label fw-bold text-primary"
          >Cidade</label
        >
        <select class="form-select" id="cidade" disabled>
          <option selected disabled value="">Belo Horizonte</option>
          <option>...</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="celular" class="form-label fw-bold text-primary"
          >Celular</label
        >
        <input
          type="text"
          class="form-control"
          id="celular"
          value="(33) 99876-5432"
          disabled
        />
      </div>
      <div class="col-md-3">
        <label for="nome_admin" class="form-label fw-bold text-primary"
          >Nome do administrador</label
        >
        <input
          type="text"
          class="form-control"
          id="nome_admin"
          value="Carlos Castro Caio Cesar Couto"
          disabled
        />
      </div>
      <div class="col-md-3">
        <label for="cpf" class="form-label fw-bold text-primary">CPF</label>
        <input
          type="text"
          class="form-control"
          id="cpf"
          value="111.222.111-33"
          disabled
        />
      </div>
      <div class="col-md-3">
        <label for="email" class="form-label fw-bold text-primary"
          >E-mail</label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          value="carlos.castro@gmail.com"
          disabled
        />
      </div>
    </form>
  </div>
</div>
