<div class="container text-center">
  <div class="row align-items-center">
    <div class="col-4 col-sm-4">
      <h1 class="fs-1 fw-bold mb-4">Olá, Henry. Seja bem-vindo</h1>
      <p class="mb-4">
        É necessário configurar a empresa matriz para visualizar todas as
        informações do sistema.
      </p>
      <a routerLink="/editar-empresa" class="btn btn-primary text-uppercase">
        Iniciar Configuração
      </a>
    </div>
    <div class="col-8 col-sm-8">
      <img src="../../../../assets/icons/config.svg" alt="" />
    </div>
  </div>
</div>
